<%= render 'shared/header', back_link: categories_path, title: "New Category" %>
<section class="section-container m-3">
    <div class="form-container">
        <%= render 'form', category: @category, editing: false %>
    </div>
</section>